body{
    box-sizing: border-box;
    padding: 30px;
    font-family: "Playwrite HR Lijeva", cursive;
  }
  #can a{
    background-color: rgb(230, 228, 228);
  }
  #can a:hover{
    background-color: rgb(133, 133, 133);
    color: white;
  }
  @media (max-width: 980px){
    body{
      padding: 0px;
    }
  }
  #nava{
    margin: 0px 30px 0px 30px;
    z-index: 1;
  }
  @media (max-width: 690px){
    #nava{
      margin: 0px 0px 0px 0px;
    }
  }
  #navFlex{
    flex-wrap: wrap;
  }
  #d-flex{
    flex-wrap: wrap;
  }
  #svvg{
    display: none;
    background-color: rgba(240, 255, 255, 0);
  }
  @media (max-width: 980px){
    #svvg{
      display: block;
    }
  }
  #cardi{
    background-color: rgba(240, 255, 255, 0);
  }
  #cardi1{
    background-color: rgba(240, 255, 255, 0);
  }
  #cardi3{
    background-color: rgba(240, 255, 255, 0);
  }
  
  @media (max-width: 980px){
    #cardi1{
      display: none;
    }
  }
  
  #cardi2{
    background-color: rgba(240, 255, 255, 0);
  }


  /* ***********FIRST CARD */
#aboutCard{
    margin-top: -70px;
}